<!-- Button to trigger the modal -->
<div>
  <div class="flex justify-end">
    <button
      class="text-white bg-blue-500 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center"
      (click)="toggleAddEmployeeForm()"
    >
      Add Employee
    </button>
  </div>
</div>

<!-- Employee Table -->
<table class="min-w-full divide-y divide-gray-200 mt-4">
  <thead class="bg-gray-50">
    <tr>
      <th
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Employee Name
      </th>
      <th
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Employee Email
      </th>
      <th
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
      >
        Action
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let employee of employees$ | async">
      <td class="px-6 py-4 whitespace-nowrap">{{ employee.name }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ employee.email }}</td>
      <td class="px-6 py-4 whitespace-nowrap flex justify-around">
        <button
          class="text-blue-600 hover:text-blue-900"
          (click)="getEmployeeDetails(employee)"
        >
          View
        </button>
        <button
          class="text-red-600 hover:text-red-900"
          (click)="deleteEmployee(employee)"
        >
          Delete
        </button>
        <button
          class="text-gray-600 hover:text-gray-900"
          (click)="getEmployeeDetailsandEdit(employee)"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal/Form -->
<div
  *ngIf="showAddEmployeeForm"
  class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50"
>
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Add Employee</h2>
    <!-- (ngSubmit)="onSubmit(employeeForm)" -->
    <form [formGroup]="employeeForm">
      <div class="mb-4">
        <label for="name" class="block text-gray-700">Name</label>
        <input
          type="text"
          id="name"
          class="form-control mt-1 block w-full"
          name="name"
          ngModel
          required
          formControlName="name"
        />
      </div>
      <div class="mb-4">
        <label for="alterEgo" class="block text-gray-700">Email</label>
        <input
          type="text"
          id="alterEgo"
          class="form-control mt-1 block w-full"
          name="alterEgo"
          ngModel
          required
          formControlName="email"
        />
      </div>

      <div class="flex justify-end">
        <button
          type="submit"
          class="btn btn-primary bg-blue-500 hover:bg-blue-800 text-white font-medium py-2 px-4 rounded mr-2"
          (click)="addEmployee()"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-secondary bg-gray-500 hover:bg-gray-800 text-white font-medium py-2 px-4 rounded"
          (click)="toggleAddEmployeeForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<!-- viewdetails -->
<div
  *ngIf="showViewEmployee"
  class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50"
>
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Employee Details</h2>
    <form>
      <div class="mb-4">
        <h4>Name : {{ employeeData.name }}</h4>
      </div>
      <div class="mb-4">
        <h4>Email : {{ employeeData.email }}</h4>
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          class="bg-gray-500 hover:bg-gray-800 text-white font-medium py-2 px-4 rounded"
          (click)="toggleViewEmployee()"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</div>
<!-- editform -->
<div
  *ngIf="showEditForm"
  class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50"
>
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Add Employee</h2>
    <form [formGroup]="editForm">
      <div class="mb-4">
        <label for="name" class="block text-gray-700">Name</label>
        <input
          type="text"
          id="name"
          class="form-control mt-1 block w-full"
          name="name"
          required
          formControlName="edit_name"
          [value]="employeeData?.name"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email</label>
        <input
          type="text"
          id="alterEgo"
          class="form-control mt-1 block w-full"
          name="email"
          required
          formControlName="edit_email"
          [value]="employeeData?.email"
        />
      </div>

      <div class="flex justify-end">
        <button
          type="submit"
          class="btn btn-primary bg-blue-500 hover:bg-blue-800 text-white font-medium py-2 px-4 rounded mr-2"
          (click)="updateEmployee(employeeData)"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-secondary bg-gray-500 hover:bg-gray-800 text-white font-medium py-2 px-4 rounded"
          (click)="toggleEditEmployeeForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
